@font-face {
    font-family: proximanova-regular;
    src: url(../fonts/proximanova-regular-webfont.eot);
    src: url(../fonts/proximanova-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/proximanova-regular-webfont.woff) format('woff'), url(../fonts/proximanova-regular-webfont.ttf) format('truetype'), url(../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular) format('svg')
}
body {
	color: #333;
	font-family: proximanova-regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
}
.wrapper-outer {
	position: relative;
}

.background-cover {
	position: fixed;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.container {
	width: 1045px;
	margin: 0 auto;
}
#wrapper.boxed {
	margin: 0 auto;
}

#wrapper.boxed #theme-header,
#wrapper.boxed .breaking-news,
#wrapper.boxed #main-content {
	width: 1045px;
	-webkit-box-shadow: 0 0 3px #CACACA;
	   -moz-box-shadow: 0 0 3px #cacaca;
			box-shadow: 0 0 3px #CACACA;
}

#wrapper.boxed #main-content{
	padding-right: 24px;
	padding-left: 24px;
}

#wrapper.boxed .post-cover-head {
	margin: -24px -24px 20px;
}

#wrapper.boxed-all {
	position: relative;
	background: #FFF;
	width: 1045px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 3px #CACACA;
	   -moz-box-shadow: 0 0 3px #cacaca;
			box-shadow: 0 0 3px #CACACA;
}

#wrapper.boxed-all #theme-header {
	margin-top: 0;
}

#wrapper.boxed-all .breaking-news {
	margin-right: 24px;
	margin-left: 24px;
	-webkit-box-shadow: 0 0 2px #CACACA;
	   -moz-box-shadow: 0 0 2px #cacaca;
			box-shadow: 0 0 2px #CACACA;
}

#wrapper.boxed-all #main-content {
	width: 997px;
	margin-top: 0;
	padding: 0;
	background: transparent;
}

#wrapper.boxed-all #footer-widget-area,
#wrapper.boxed-all .footer-bottom .container {
	width: 997px;
}

#wrapper.boxed-all .post-cover-head {
	margin: 0 -24px 20px;
}
#theme-header {
	background: #FFF;
	margin: 20px auto 25px;
	border-top: 3px solid #f88c00;
	position: relative;
}
.top-nav {
	background: #fbfbfb;
	border-bottom: 1px solid #ececec;
	height: 31px;
}

.top-nav ul {
	float: left;
}

.top-nav ul li {
	position: relative;
	display: inline-block;
	float: left;
	font-size: 12px;
}

.top-nav ul li a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #838383;
	padding: 0 10px;
}

.top-nav ul li a:hover {
	color: #000;
}

.top-nav ul ul {
	background: #fbfbfb;
	display: none;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 180px;
	z-index: 200;
	float: left;

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.top-nav ul ul li {
	background: none !important;
	border: none !important;
	z-index: 200;
	min-width: 180px;
}

.top-nav ul ul ul {
	right: auto;
	left: 100%;
	top: 0;
	z-index: 200;
}

.top-nav ul ul a {
	background: none !important;
	height: auto !important;
	line-height: 1em;
	padding: 10px 10px;
	width: 160px;
	display: block !important;
	margin-right: 0 !important;
	z-index: 200;
	color: #777!important;
}

.top-nav ul li:hover > a,
.top-nav ul:hover > a,
.top-nav ul li.current-menu-item a {
	color: #000;
}

.top-nav ul li.menu-item-has-children a {
	padding-right: 20px;
}